* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
  /* border: 3px red solid; */
}

a {
  text-decoration: none;
  color: inherit;
}

.todo__app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  /* height: 500px; */
  gap: 10px;
  border: 3px red solid;
  border-radius: 30px;
}
.todo__app--input {
  margin-top: 10px;
  height: 40px;
  width: 200px;
  text-align: center;
  border-radius: 30px;
}
.todo__app--buttonbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo__app--addbutton {
  height: 40px;
  width: 200px;
  border-radius: 30px;
}
.todo__app--clearbutton {
  height: 40px;
  width: 200px;
  border-radius: 30px;
}

.todo__app--list {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  max-width: 600px;
  min-width: 300px;
  max-height: 100%;
  min-height: 100px;
  border-radius: 30px;
  border: 3px solid red;
  flex: 1;
  overflow: auto;
}

.todo__app--list li {
  padding: 10px;
  border: 3px dotted gold;
  list-style-position: inside;
  list-style-type: decimal;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}
#snackbar.show {
  display: block;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
